@{
    Layout = null;

    double price = 45;
    double discountPercent = 0;
}
<h1 style="color:red">Product detail Page</h1>

<h2>Product info</h2>
<h3>Price: @price </h3>
<h4>Discount: @(discountPercent>0?"endirimdedir":"endirimde deyil") </h4>
